#!/usr/bin/env bash

set -euo pipefail
IFS=' '

configure_consul() {
  echo "Configuring Consul options"
  echo "CONSUL_OPTIONS=-server -dc=google -bootstrap-expect=3" | sudo tee /etc/systemd/system/consul.d/consul.env
}

start_consul() {
  echo "Starting Consul service"
  sudo systemctl start consul.service
}

join_cluster() {
  echo "Joining Consul server peers"
  consul-join-cluster
}

main() {
  configure_consul
  start_consul
  join_cluster
}

main
