#cloud-config

apt_reboot_if_required: false
apt_update: true
apt_upgrade: true
locale: en_US.UTF-8
package_upgrade: true
timezone: UTC

runcmd:
  - aws --region ${aws_region} s3 cp s3://${provisioning_bucket_id}/ /tmp/provisioning --recursive
  - echo "NOMAD_OPTIONS=-server -dc=${aws_region} -bootstrap-expect=${server_count}" | sudo tee /etc/systemd/system/nomad.d/nomad.env
  - sudo systemctl start nomad.service
