<%= if @allocations do %>
  <h5>Allocations</h5>
  <table style="text-align: left; width: 100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Job ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <%= for allocation <- @allocations do %>
        <tr>
          <td><%= allocation.id %></td>
          <td><%= allocation.job_id %></td>
          <td><%= allocation.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= end %>
